@model IEnumerable<AzureCafe.Models.CafeSummary>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <span style="font-size: 1.5em;" class="font-weight-bolder">@Html.DisplayFor(modelItem => item.Name)</span><br />
                <span class="font-italic">@Html.DisplayFor(modelItem => item.Description)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingCount)
            </td>
            <td>
                @if (item.RatingCount > 0) 
                {
                    <span class="score">
                        <div class="score-wrap align-top">
                            <span class="stars-active" style="width:@(String.Format("{0:#}", (100 * item.AverageRating/5.0)))%">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                        <span class="stars-inactive">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                        </span>        
                        </div>
                        <p>
                            <span class="align-top">
                                @String.Format("{0:#.#}", item.AverageRating) (@item.RatingCount @((item.RatingCount == 1) ? "review" : "reviews"))
                            </span>
                        </p>
                    </span>                        
                }
                else
                {
                    <span class="fst-italic">No ratings yet</span>    
                }
            </td>
            <td>
                <!-- <button type="button" class="btn btn-primary">Primary</button> -->
                @Html.ActionLink("Details", "Details", new { id=item.CafeId }, new {@class = "btn btn-primary" } )
            </td>
        </tr>
}
    </tbody>
</table>

